<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,445},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>1_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,618},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>1_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,327},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>1_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,482},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>1lunpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,130},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>2_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,540},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>2_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,227},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>2_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,478},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>2_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,408},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>2lunpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>3_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,183},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>3_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,464},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>3_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,400},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>3_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,537},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>3lunpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>4_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,423},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>4_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,371},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>4_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,519},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>4_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,139},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>4lunpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>changsan.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,565},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>dijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,482},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>guize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{140,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{140,135}}</string>
                <key>sourceSize</key>
                <string>{142,137}</string>
            </dict>
            <key>guize2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,533},{42,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,83}}</string>
                <key>sourceSize</key>
                <string>{44,85}</string>
            </dict>
            <key>huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{163,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,174}}</string>
                <key>sourceSize</key>
                <string>{163,174}</string>
            </dict>
            <key>tianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,507},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>tipaianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,592},{89,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,47}}</string>
                <key>sourceSize</key>
                <string>{91,49}</string>
            </dict>
            <key>wahua_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,464},{59,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,41}}</string>
                <key>sourceSize</key>
                <string>{59,41}</string>
            </dict>
            <key>wahua_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,634},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,533},{87,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>wh_xiaojiesuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,327},{71,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,26}}</string>
                <key>sourceSize</key>
                <string>{71,26}</string>
            </dict>
            <key>wh_xiaojiesuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{159,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,105}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>wh_xiaojiesuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,365},{135,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,97}}</string>
                <key>sourceSize</key>
                <string>{135,97}</string>
            </dict>
            <key>wl_kaiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{510,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,24}}</string>
                <key>sourceSize</key>
                <string>{510,24}</string>
            </dict>
            <key>wl_xiaojiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,365},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>wl_xiaojiesuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,299},{158,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,26}}</string>
                <key>sourceSize</key>
                <string>{158,26}</string>
            </dict>
            <key>wl_xiaojiesuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,271},{158,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,26}}</string>
                <key>sourceSize</key>
                <string>{158,26}</string>
            </dict>
            <key>yinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiju2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:247138f76852e309d5dfb7d990399fe3$</string>
            <key>textureFileName</key>
            <string>paiju2.png</string>
        </dict>
    </dict>
</plist>
