<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,529},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>anniu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,517},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>anniu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,431},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>anniu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,345},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>anniu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,259},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>diaoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,819},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,76}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>dikuang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,848},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,73}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>fangkabuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,808},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,137},{114,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,77}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>lixiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,744},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>shengzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,746},{178,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,104}}</string>
                <key>sourceSize</key>
                <string>{178,104}</string>
            </dict>
            <key>ty_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,485},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>yx_dajiesuan_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{353,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,86}}</string>
                <key>sourceSize</key>
                <string>{353,86}</string>
            </dict>
            <key>yx_dajiesuan_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{446,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,85}}</string>
                <key>sourceSize</key>
                <string>{446,85}</string>
            </dict>
            <key>yx_dajiesuan_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,173},{50,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,354}}</string>
                <key>sourceSize</key>
                <string>{50,354}</string>
            </dict>
            <key>yx_dajiesuan_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,709},{27,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,89}}</string>
                <key>sourceSize</key>
                <string>{27,89}</string>
            </dict>
            <key>yx_dajiesuan_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,173},{50,443}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,443}}</string>
                <key>sourceSize</key>
                <string>{58,445}</string>
            </dict>
            <key>yx_dajiesuan_di44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{54,443}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,443}}</string>
                <key>sourceSize</key>
                <string>{58,445}</string>
            </dict>
            <key>yx_dajiesuan_di55.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,153},{198,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,37}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
            <key>yx_dajiesuan_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,493},{230,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,79}}</string>
                <key>sourceSize</key>
                <string>{230,79}</string>
            </dict>
            <key>yx_dajiesuan_id1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,332},{236,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,159}}</string>
                <key>sourceSize</key>
                <string>{236,159}</string>
            </dict>
            <key>yx_dajiesuan_id2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,173},{246,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,157}}</string>
                <key>sourceSize</key>
                <string>{246,157}</string>
            </dict>
            <key>yx_dajiesuan_ka.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,735},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>yx_dajiesuan_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,693},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>yx_dajiesuan_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,967},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>yx_dajiesuan_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>yx_dajiesuan_timedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,688},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>yx_dajiesuan_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,359},{165,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,124}}</string>
                <key>sourceSize</key>
                <string>{165,124}</string>
            </dict>
            <key>yx_xiaojiesuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,618},{212,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,75}}</string>
                <key>sourceSize</key>
                <string>{212,75}</string>
            </dict>
            <key>yx_xiaojiesuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,192},{188,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,75}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>yx_xiaojiesuan_di00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,137},{194,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,97}</string>
            </dict>
            <key>yx_xiaojiesuan_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,236},{194,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,108}}</string>
                <key>sourceSize</key>
                <string>{194,108}</string>
            </dict>
            <key>yx_xiaojiesuan_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,459},{137,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,97}}</string>
                <key>sourceSize</key>
                <string>{137,97}</string>
            </dict>
            <key>yx_xiaojiesuan_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,709},{123,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,97}}</string>
                <key>sourceSize</key>
                <string>{123,97}</string>
            </dict>
            <key>yx_xiaojiesuan_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>yx_xiaojiesuan_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,485},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>yx_xiaojiesuan_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,848},{122,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,61}}</string>
                <key>sourceSize</key>
                <string>{122,61}</string>
            </dict>
            <key>yx_xiaojiesuan_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,794},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>yx_xiaojiesuan_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,372},{163,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{163,101}}</string>
                <key>sourceSize</key>
                <string>{165,103}</string>
            </dict>
            <key>yx_xiaojiesuan_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,848},{168,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>yx_xiaojiesuan_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,574},{168,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{174,109}</string>
            </dict>
            <key>yx_xiaojiesuan_zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,385},{117,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,101}}</string>
                <key>sourceSize</key>
                <string>{119,103}</string>
            </dict>
            <key>yx_xiaojiesuan_zi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,746},{169,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{169,104}}</string>
                <key>sourceSize</key>
                <string>{173,108}</string>
            </dict>
            <key>yx_xuanzechipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,897},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,77}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>yx_yizhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,253},{117,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,84}}</string>
                <key>sourceSize</key>
                <string>{117,88}</string>
            </dict>
            <key>yxmj_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,385},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>yxmj_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,91},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>yxmj_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,192},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>yxmj_dikuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,504},{39,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,175}}</string>
                <key>sourceSize</key>
                <string>{39,177}</string>
            </dict>
            <key>yxmj_dikuang_boli.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{133,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,252}}</string>
                <key>sourceSize</key>
                <string>{133,252}</string>
            </dict>
            <key>yxmj_fangwei_zhuanpan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,574},{171,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{171,170}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>yxmj_fangwei_zhuanpan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,558},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,148}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>yxmj_fangweibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,537},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,50}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>yxmj_fangweidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,641},{50,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,132}}</string>
                <key>sourceSize</key>
                <string>{52,134}</string>
            </dict>
            <key>yxmj_fangweinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,972},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,50}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>yxmj_fangweixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,589},{50,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,132}}</string>
                <key>sourceSize</key>
                <string>{52,134}</string>
            </dict>
            <key>yxmj_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,852},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>yxmj_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,574},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>yxmj_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,852},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>yxmj_id_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,346},{37,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,177}}</string>
                <key>sourceSize</key>
                <string>{37,177}</string>
            </dict>
            <key>yxmj_id_dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,848},{109,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,26}}</string>
                <key>sourceSize</key>
                <string>{109,26}</string>
            </dict>
            <key>yxmj_id_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,504},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>yxmj_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,794},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>yxmj_jilu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1018},{4,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,100}}</string>
                <key>sourceSize</key>
                <string>{4,100}</string>
            </dict>
            <key>yxmj_jilu_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,86},{223,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,65}}</string>
                <key>sourceSize</key>
                <string>{223,65}</string>
            </dict>
            <key>yxmj_julu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,693},{32,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,106}}</string>
                <key>sourceSize</key>
                <string>{32,106}</string>
            </dict>
            <key>yxmj_jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,693},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,59}}</string>
                <key>sourceSize</key>
                <string>{126,61}</string>
            </dict>
            <key>yxmj_kaiju_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,82}}</string>
                <key>sourceSize</key>
                <string>{676,82}</string>
            </dict>
            <key>yxmj_liaotian_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,603},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>yxmj_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,852},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>yxmj_zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,772},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,41}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>yxmj_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,967},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>yxmj_zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,921},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>yxmj_zi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,973},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,36}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>yxmj_zi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,863},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>yxmj_zi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,805},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiju1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88b804fa28a76540129c72a9ae6e9255$</string>
            <key>textureFileName</key>
            <string>paiju1.png</string>
        </dict>
    </dict>
</plist>
