<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,134},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,85}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,103},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{101,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,201},{50,51}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,65},{50,51}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,203},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,171},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,161},{32,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,199},{32,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,156},{32,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,221},{32,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,98},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,103},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,221},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,221},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,108},{30,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,55},{30,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,212},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,214},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,214},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,214},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,151},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,190},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>B1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,212},{34,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,2},{34,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,118},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>K1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,98},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,201},{44,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>Q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{44,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{154,210}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{154,210}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>W1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{154,208}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{154,208}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DdzPuke.png</string>
            <key>size</key>
            <string>{1079,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b1412aaba089ee5aaf819c58ac7bfd$</string>
            <key>textureFileName</key>
            <string>DdzPuke.png</string>
        </dict>
    </dict>
</plist>
