<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pk_OK.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1261},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>pk_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,713},{223,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{223,87}}</string>
                <key>sourceSize</key>
                <string>{223,89}</string>
            </dict>
            <key>pk_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,802},{213,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{213,87}}</string>
                <key>sourceSize</key>
                <string>{223,89}</string>
            </dict>
            <key>pk_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1161},{203,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,89}}</string>
                <key>sourceSize</key>
                <string>{203,89}</string>
            </dict>
            <key>pk_fangjianSan.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,785},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>pk_fangjiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1351},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>pk_fenban.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,989},{211,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,90}}</string>
                <key>sourceSize</key>
                <string>{211,90}</string>
            </dict>
            <key>pk_fk_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1252},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>pk_fk_sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,381},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>pk_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1231},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,27}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>pk_gouxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1398},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>pk_id_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1261},{39,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,88}}</string>
                <key>sourceSize</key>
                <string>{39,88}</string>
            </dict>
            <key>pk_id_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1065},{164,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,32}}</string>
                <key>sourceSize</key>
                <string>{164,32}</string>
            </dict>
            <key>pk_id_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1482},{29,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>pk_jiesuan_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1261},{235,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,96}}</string>
                <key>sourceSize</key>
                <string>{235,98}</string>
            </dict>
            <key>pk_jiesuan_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,891},{235,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,96}}</string>
                <key>sourceSize</key>
                <string>{235,98}</string>
            </dict>
            <key>pk_jiesuan_biao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1121},{204,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,38}}</string>
                <key>sourceSize</key>
                <string>{204,38}</string>
            </dict>
            <key>pk_jiesuan_biao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1081},{204,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,38}}</string>
                <key>sourceSize</key>
                <string>{204,38}</string>
            </dict>
            <key>pk_jiesuan_biao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{403,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{403,89}}</string>
                <key>sourceSize</key>
                <string>{407,93}</string>
            </dict>
            <key>pk_jiesuan_di0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{591,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,82}}</string>
                <key>sourceSize</key>
                <string>{591,82}</string>
            </dict>
            <key>pk_jiesuan_di00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,414}}</string>
                <key>sourceSize</key>
                <string>{43,414}</string>
            </dict>
            <key>pk_jiesuan_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{400,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,233}}</string>
                <key>sourceSize</key>
                <string>{400,233}</string>
            </dict>
            <key>pk_jiesuan_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{396,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{396,246}}</string>
                <key>sourceSize</key>
                <string>{396,248}</string>
            </dict>
            <key>pk_jiesuan_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,671},{33,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,118}}</string>
                <key>sourceSize</key>
                <string>{33,118}</string>
            </dict>
            <key>pk_jiesuan_fen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{377,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,90}}</string>
                <key>sourceSize</key>
                <string>{377,90}</string>
            </dict>
            <key>pk_jiesuan_fen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{377,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,90}}</string>
                <key>sourceSize</key>
                <string>{377,90}</string>
            </dict>
            <key>pk_jiesuan_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1346},{163,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{163,146}</string>
            </dict>
            <key>pk_liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,706},{114,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,77}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>pk_lixiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,567},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pk_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,989},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>pk_nann.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,713},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>pk_qiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>pk_qiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,47},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>pk_shuiyin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1099},{160,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,144}</string>
            </dict>
            <key>pk_shuiyin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,926},{171,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>pk_time_chongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,373},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,22}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>pk_time_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1065},{190,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,34}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>pk_time_dianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,138},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,11}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>pk_time_dichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,831},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,19}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>pk_tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,785},{111,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,139}}</string>
                <key>sourceSize</key>
                <string>{111,139}</string>
            </dict>
            <key>pk_tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1365},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>pk_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,461},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>pk_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1337},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,27}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>pk_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1431},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,27}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>pk_wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1482},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,27}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>pk_wifi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1482},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,27}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>pk_xiazhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,852},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>pk_xiazhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1261},{102,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>pk_xiazhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1378},{102,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>pk_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{511,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a3b3f9d3602867925da64b6ec24afc$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
