<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cjRoom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,94},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>cjRoom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,36}}</string>
                <key>sourceSize</key>
                <string>{173,36}</string>
            </dict>
            <key>cjRooma.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,198},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>cjRoomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,182},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>cjRoomc.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,143},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>cjRoomd.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,182},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>tachuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{44,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,391}}</string>
                <key>sourceSize</key>
                <string>{44,391}</string>
            </dict>
            <key>tachuang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,40},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>tachuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,56},{7,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,45}}</string>
                <key>sourceSize</key>
                <string>{7,45}</string>
            </dict>
            <key>tachuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,56},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>tachuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{131,52}}</string>
                <key>sourceSize</key>
                <string>{133,58}</string>
            </dict>
            <key>tachuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>tachuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,99},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardDetail.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa5c138388281ed8bf2a88e3cfa470b$</string>
            <key>textureFileName</key>
            <string>CardDetail.png</string>
        </dict>
    </dict>
</plist>
