<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,738},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,53}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>anniu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,338},{258,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,102}}</string>
                <key>sourceSize</key>
                <string>{260,104}</string>
            </dict>
            <key>cjRoom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,829},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,65}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>cjRoom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,271},{65,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,248}}</string>
                <key>sourceSize</key>
                <string>{65,248}</string>
            </dict>
            <key>cjRoom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{65,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,250}}</string>
                <key>sourceSize</key>
                <string>{65,250}</string>
            </dict>
            <key>cjRoom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,442},{65,247}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{65,247}}</string>
                <key>sourceSize</key>
                <string>{67,255}</string>
            </dict>
            <key>cjRoom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,256},{62,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,182}}</string>
                <key>sourceSize</key>
                <string>{64,186}</string>
            </dict>
            <key>mail_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,736},{91,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>sg_cj_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,893},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sg_cj_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,896},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sg_cj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,653},{82,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,72}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>ty_anniu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,702},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,74}</string>
            </dict>
            <key>ty_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,702},{192,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,72}}</string>
                <key>sourceSize</key>
                <string>{192,74}</string>
            </dict>
            <key>ty_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,62},{192,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,74}}</string>
                <key>sourceSize</key>
                <string>{192,74}</string>
            </dict>
            <key>ty_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,495},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>ty_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,238},{255,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,103}}</string>
                <key>sourceSize</key>
                <string>{255,103}</string>
            </dict>
            <key>ty_anniu_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,434},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>ty_anniu_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>ty_anniu_fx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,521},{242,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,85}}</string>
                <key>sourceSize</key>
                <string>{242,85}</string>
            </dict>
            <key>ty_anniu_guankan.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,702},{189,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,57}}</string>
                <key>sourceSize</key>
                <string>{189,57}</string>
            </dict>
            <key>ty_anniu_huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,347},{85,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>ty_anniu_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,865},{191,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{191,105}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>ty_anniu_jiaru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,865},{199,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,109}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>ty_anniu_jiaru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,63},{191,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{191,105}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>ty_anniu_renzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,320},{177,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,62}}</string>
                <key>sourceSize</key>
                <string>{177,62}</string>
            </dict>
            <key>ty_anniu_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,310},{125,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,49}}</string>
                <key>sourceSize</key>
                <string>{125,49}</string>
            </dict>
            <key>ty_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{286,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,112}}</string>
                <key>sourceSize</key>
                <string>{286,112}</string>
            </dict>
            <key>ty_biaoti_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,653},{229,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,72}}</string>
                <key>sourceSize</key>
                <string>{229,72}</string>
            </dict>
            <key>ty_biaoti_gengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,732},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>ty_biaoti_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,608},{127,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,69}}</string>
                <key>sourceSize</key>
                <string>{129,71}</string>
            </dict>
            <key>ty_biaoti_jiaru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,528},{194,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,58}}</string>
                <key>sourceSize</key>
                <string>{194,58}</string>
            </dict>
            <key>ty_biaoti_jiaru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{291,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,58}}</string>
                <key>sourceSize</key>
                <string>{291,58}</string>
            </dict>
            <key>ty_biaoti_renzheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,204},{249,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,65}}</string>
                <key>sourceSize</key>
                <string>{249,65}</string>
            </dict>
            <key>ty_biaoti_renzheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,509},{243,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,65}}</string>
                <key>sourceSize</key>
                <string>{243,65}</string>
            </dict>
            <key>ty_biaoti_renzheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,164},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>ty_biaoti_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,453},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>ty_biaoti_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,384},{170,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,67}}</string>
                <key>sourceSize</key>
                <string>{170,67}</string>
            </dict>
            <key>ty_biaoti_zhanji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,896},{129,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>ty_biaoti_zhanji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>ty_denglu_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,970},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ty_dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,812},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>ty_dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,976},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>ty_dikuang_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{72,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,490}}</string>
                <key>sourceSize</key>
                <string>{72,490}</string>
            </dict>
            <key>ty_dikuang_boli.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,69},{133,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,252}}</string>
                <key>sourceSize</key>
                <string>{133,252}</string>
            </dict>
            <key>ty_dikuang_cj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>ty_dikuang_cj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{49,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,582}}</string>
                <key>sourceSize</key>
                <string>{49,582}</string>
            </dict>
            <key>ty_dikuang_cj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,702},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ty_dikuang_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,737},{29,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,220}}</string>
                <key>sourceSize</key>
                <string>{29,220}</string>
            </dict>
            <key>ty_dikuang_zhanji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,737},{126,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,237}}</string>
                <key>sourceSize</key>
                <string>{126,237}</string>
            </dict>
            <key>ty_dikuang_zhanji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,354},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ty_dikuang_zhanji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,442},{10,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,105}}</string>
                <key>sourceSize</key>
                <string>{10,105}</string>
            </dict>
            <key>ty_dikuang_zhanji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,29},{32,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,106}}</string>
                <key>sourceSize</key>
                <string>{32,106}</string>
            </dict>
            <key>ty_dikuang_zhanji33.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,528},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>ty_dikuang_zhanji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>ty_dikuang_zhanji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{49,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,572}}</string>
                <key>sourceSize</key>
                <string>{49,572}</string>
            </dict>
            <key>ty_dikuang_zhanji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,859},{44,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,118}}</string>
                <key>sourceSize</key>
                <string>{44,118}</string>
            </dict>
            <key>ty_dikuang_zhanji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,738},{78,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,117}}</string>
                <key>sourceSize</key>
                <string>{78,119}</string>
            </dict>
            <key>ty_fangka_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,529},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>ty_fk_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,656},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_huangyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,576},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,576},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,608},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_sichuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,608},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_wahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,608},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_fk_wenling.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,573},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ty_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>ty_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,488},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>ty_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,25}}</string>
                <key>sourceSize</key>
                <string>{768,25}</string>
            </dict>
            <key>ty_jindutiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,981},{39,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,98}}</string>
                <key>sourceSize</key>
                <string>{39,98}</string>
            </dict>
            <key>ty_kuang_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,976},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ty_pengyouquan_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,437},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>ty_shezhi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{333,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,42}}</string>
                <key>sourceSize</key>
                <string>{333,42}</string>
            </dict>
            <key>ty_shezhi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,976},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>ty_shezhi_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,736},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ty_shezhi_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,829},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ty_shezhi_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,588},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ty_shezhi_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,976},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ty_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,737},{45,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,73}}</string>
                <key>sourceSize</key>
                <string>{45,73}</string>
            </dict>
            <key>ty_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,258},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ty_xiahuaxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,250},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>ty_xiahuaxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,204},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>ty_yinying_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{660,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,31}}</string>
                <key>sourceSize</key>
                <string>{660,31}</string>
            </dict>
            <key>ty_zi_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{384,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,70}}</string>
                <key>sourceSize</key>
                <string>{384,70}</string>
            </dict>
            <key>ty_zi_zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,976},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>zhanji_hymj.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,930},{151,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,38}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>zhanji_hymj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,970},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>zhanji_wahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,399},{147,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,39}}</string>
                <key>sourceSize</key>
                <string>{149,41}</string>
            </dict>
            <key>zhanji_wlmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,966},{150,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>zhanji_wlmj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,972},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>zhanji_wlwh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,972},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eed7f15bbb9a7c8c4161aa840284d2cb$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
