<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,128},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,85}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,128},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,128},{101,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,446},{50,51}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,446},{50,51}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,341},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,373},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,282},{32,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,269},{32,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,235},{32,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,235},{32,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,320},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,303},{30,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,84},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,50},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,288},{30,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,267},{30,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,214},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,161},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,229},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,108},{32,51}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,444},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,55},{34,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>J1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{34,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,444},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>K1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,444},{46,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,446},{44,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>Q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{44,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{154,210}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{154,210}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
            <key>W1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,234},{154,208}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{154,208}}</string>
                <key>sourceSize</key>
                <string>{170,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da15ae1f2b8ee5f65aefa51423e176c2$</string>
            <key>textureFileName</key>
            <string>DDZ.png</string>
        </dict>
    </dict>
</plist>
