<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,183},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,76}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>dz_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,49},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>dz_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,183},{75,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>dz_guize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,148},{33,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,161}}</string>
                <key>sourceSize</key>
                <string>{33,161}</string>
            </dict>
            <key>dz_guize2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{42,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,83}}</string>
                <key>sourceSize</key>
                <string>{44,85}</string>
            </dict>
            <key>dz_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>dz_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,112},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>dz_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{115,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,60}}</string>
                <key>sourceSize</key>
                <string>{115,60}</string>
            </dict>
            <key>dz_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,86},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dz_shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>dz_zhuapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,87},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>dz_zhuapai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{144,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,55}</string>
            </dict>
            <key>lixiandikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,112},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_kaichang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:016880997d5b0e4dd431264f0e097d3a$</string>
            <key>textureFileName</key>
            <string>ddz_kaichang.png</string>
        </dict>
    </dict>
</plist>
