<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,213},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>dz_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,89},{75,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>dz_guize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,89},{33,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,161}}</string>
                <key>sourceSize</key>
                <string>{33,161}</string>
            </dict>
            <key>dz_guize2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{42,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,83}}</string>
                <key>sourceSize</key>
                <string>{44,85}</string>
            </dict>
            <key>dz_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>dz_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,64},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>dz_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{115,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,60}}</string>
                <key>sourceSize</key>
                <string>{115,60}</string>
            </dict>
            <key>dz_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,221},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dz_shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>dz_zhuapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,169},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>dz_zhuapai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{144,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_kaichang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2645e43327f07dfe6d93416089526485$</string>
            <key>textureFileName</key>
            <string>ddz_kaichang.png</string>
        </dict>
    </dict>
</plist>
