<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz_an1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{160,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,97}}</string>
                <key>sourceSize</key>
                <string>{162,99}</string>
            </dict>
            <key>dz_an2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,135},{199,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,100}}</string>
                <key>sourceSize</key>
                <string>{199,100}</string>
            </dict>
            <key>dz_an3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{199,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,100}}</string>
                <key>sourceSize</key>
                <string>{199,100}</string>
            </dict>
            <key>dz_jiesuan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,336},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>dz_jiesuan_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,486},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>dz_liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,223},{130,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,89}}</string>
                <key>sourceSize</key>
                <string>{130,89}</string>
            </dict>
            <key>dz_zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{428,61}}</string>
                <key>sourceSize</key>
                <string>{432,61}</string>
            </dict>
            <key>dz_zt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,65},{146,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{150,81}</string>
            </dict>
            <key>dz_zt00.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,336},{150,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{150,77}}</string>
                <key>sourceSize</key>
                <string>{154,81}</string>
            </dict>
            <key>dz_zt000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,336},{148,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,79}}</string>
                <key>sourceSize</key>
                <string>{150,81}</string>
            </dict>
            <key>dz_zt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,213},{121,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,76}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>dz_zt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,135},{131,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{131,77}}</string>
                <key>sourceSize</key>
                <string>{133,79}</string>
            </dict>
            <key>dz_zt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,65},{131,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{133,80}</string>
            </dict>
            <key>dz_zt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{131,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{135,80}</string>
            </dict>
            <key>dz_zt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,145},{131,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,76}}</string>
                <key>sourceSize</key>
                <string>{135,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_game.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ada1fbb9d0be592830c95f51dff419$</string>
            <key>textureFileName</key>
            <string>ddz_game.png</string>
        </dict>
    </dict>
</plist>
