<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz_dajiesuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>dz_dajiesuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,305},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>dz_dajiesuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{207,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{207,93}}</string>
                <key>sourceSize</key>
                <string>{209,95}</string>
            </dict>
            <key>dz_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,332},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>dz_xiaojiesuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,305},{51,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,155}}</string>
                <key>sourceSize</key>
                <string>{51,155}</string>
            </dict>
            <key>dz_xiaojiesuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,210},{26,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,155}}</string>
                <key>sourceSize</key>
                <string>{26,155}</string>
            </dict>
            <key>dz_xiaojiesuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{249,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,102}}</string>
                <key>sourceSize</key>
                <string>{249,102}</string>
            </dict>
            <key>dz_xiaojiesuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{142,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,69}}</string>
                <key>sourceSize</key>
                <string>{142,69}</string>
            </dict>
            <key>dz_xiaojiesuan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,102}}</string>
                <key>sourceSize</key>
                <string>{249,102}</string>
            </dict>
            <key>dz_xiaojiesuan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,367},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaojiesuan.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90fb4f4431d2f1b7a2deb62f74ab2a3a$</string>
            <key>textureFileName</key>
            <string>xiaojiesuan.png</string>
        </dict>
    </dict>
</plist>
