<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,444},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>s_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,71},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>s_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>s_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,65},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>s_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,134},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>s_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,353},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>s_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>s_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,290},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>s_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>s_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>s_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,140},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>x_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>x_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,366},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>x_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,150},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>x_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,438},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>x_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,366},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>x_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>x_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,146},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>x_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,218},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>x_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,294},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>x_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,438},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>x_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,294},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>xia_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,472},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,28}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>y_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,222},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>y_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>y_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>y_gai.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,72},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,44}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>y_p_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>y_pb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,416},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>y_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>you_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,345},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>z_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,74},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>z_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>z_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>z_gai.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,44}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>z_p_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,71},{67,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,44}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>z_pb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,290},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>z_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>zuo_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,472},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3dPai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb6b555ae5063a00339985d1bd897f3$</string>
            <key>textureFileName</key>
            <string>3dPai.png</string>
        </dict>
    </dict>
</plist>
