<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,447},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,447},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,891},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,764},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,637},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,891},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,637},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,891},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,764},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,637},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,510},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,434},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,358},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,358},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,510},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,358},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,307},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,180},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,180},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,180},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,180},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,91},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,91},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,91},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,91},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,91},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,891},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,764},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,637},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,510},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,777},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,650},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,523},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,396},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,142},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,904},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,536},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,561},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,561},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,561},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,428},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,340},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,252},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,180},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,180},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>shang_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,516},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>shang_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,516},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>song.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,447},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>xia_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,138}}</string>
                <key>sourceSize</key>
                <string>{92,138}</string>
            </dict>
            <key>xia_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{68,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,105}}</string>
                <key>sourceSize</key>
                <string>{68,105}</string>
            </dict>
            <key>y_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,993},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>z_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,993},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>zy_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,447},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiMianWh.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb30aefa69880e609d592f5e29c6f78$</string>
            <key>textureFileName</key>
            <string>paiMianWh.png</string>
        </dict>
    </dict>
</plist>
