<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_0_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_1_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,383},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,256},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,129},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,142},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,396},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_2_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>card_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,379},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,345},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,307},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,273},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,235},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,201},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,163},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,129},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>card_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,91},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>shang_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,65},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>shang_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>song.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,451},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>xia_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,138}}</string>
                <key>sourceSize</key>
                <string>{92,138}</string>
            </dict>
            <key>xia_tang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{68,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,105}}</string>
                <key>sourceSize</key>
                <string>{68,105}</string>
            </dict>
            <key>y_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,451},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>z_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,451},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>zy_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,417},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiMianWh.png</string>
            <key>size</key>
            <string>{1621,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f07a09731e7c6918eb32c5eaf0567983$</string>
            <key>textureFileName</key>
            <string>paiMianWh.png</string>
        </dict>
    </dict>
</plist>
